datasets>=3.0.0
huggingface-hub>=0.26.0
jupyter>=1.1.1
notebook>=7.0.0
ipykernel>=6.29.0
pandas>=2.2.0
matplotlib>=3.8.0
pyyaml>=6.0.2
transformers>=4.51.0
torch>=2.4.0
accelerate>=0.34.0
sentencepiece>=0.2.0
protobuf>=5.28.0
instruction_following_eval @ git+https://github.com/josejg/instruction_following_eval.git
tqdm>=4.66.0
nltk>=3.9.0
